:root {
    --color4: #234E70;
    --color3: #FBF8BE;
    --color1: #101820FF;
    --color2: #FEE715FF;
}

body {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98.5vh;
}

.library {
    display: grid;
    row-gap: 10px;
}

h2 {
    font-family: 'Fredoka One', cursive, sans-serif;
    letter-spacing: 3px;
    font-size: 45px;
    color: var(--color2);
    text-align: center;
}

.card {
    border: 3px solid rgb(209, 0, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--color2);
    color: var(--color1);
    width: 260px;
    height: 300px;
    padding: 15px;
}

.card > p, .card > div, .card > button {
    text-align: center;
    flex: 1 1 auto;
}

.card > button {
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 130px;
    height: 40px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    border: 2.5px solid white;
    outline: none;
    cursor: pointer;
}

.form {
    display: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: var(--color1);
    height: 400px;
    width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top: 250px;
    bottom: 0;
    margin: auto;
    opacity: 0;
}

.form-visible {
    display: block;
}

.form-active {
    display:block;
    opacity: 1;
}

.form-transition.form-visible {
    display: block;
    opacity: 1;
}

.form-transition {
    transition: opacity 1.1s ease;
}

.form-hidden {
    display: block;
    opacity: 0;
}

fieldset {
    background-color: var(--color2);
    color: var(--color1);
}

fieldset > legend {
    background-color: var(--color2);
    color: var(--color1);
}

#prototypeCard {
    display: none;
}

.openForm {
    margin-bottom: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    outline: none;
    border: 8px solid rgb(0, 189, 31);
    background-color: rgb(194, 194, 194);
    font-size: 34px;
    font-weight: 700;
    align-self: center;
    opacity: 0.6;
    transition: 0.3s;
}

.openForm:hover {
    border: 8px solid rgb(50, 255, 84);
    background-color: white;
    opacity: 1;
}

.openForm:active {
    border: 8px solid white;
    background-color: black;
    color: rgb(50, 255, 84);
}

footer, footer> a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 600;
    text-align: center;
    margin-top: auto;
}

#gitImg {
    height: 16px;
    background-color: white;
}