:root {
    --color4: #234E70;
    --color3: #FBF8BE;
    --color1: #101820FF;
    --color2: #FEE715FF;
}

body {
    background-color: var(--color1);
}

.library {
    display: grid;
    row-gap: 10px;
}

h2 {
    font-family: 'Fredoka One', cursive, sans-serif;
    letter-spacing: 3px;
    font-size: 45px;
    color: var(--color2);

}

.card {
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background-color: var(--color2);
    color: var(--color1)
}

#bookForm {
    display: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: var(--color1);
}

fieldset {
    background-color: var(--color2);
    color: var(--color1);
}

fieldset > legend {
    background-color: var(--color2);
    color: var(--color1);
}

#prototypeCard {
    display: none;
}